h5py
nltk==3.2.4
numpy==1.15.3
scikit-learn==0.20.0
gensim==3.6.0
pandas==0.20.3
Pillow==5.0.0
scipy==1.1.0
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-gpu==1.11.0
matplotlib==2.0.2
xgboost==0.71
